@font-face {
    font-family: 'JetBrains Mono';
    src: url('font/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('font/JetBrainsMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
* {
    font-family: "JetBrains Mono" !important;
}

html,
body {
  height: 100%;
}





.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.background-image {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
  background-image: url('image/1.png');
  background-size: cover;
  background-position: center;
}

.nav-link {
  transition:  0.3s;
  color: #ffffff;
}
.nav-link:active {
  border-radius: 5px;
  background-color: #427676;
  color: #ffffff;
}
.nav-link:hover {
  color: #E1E48C;
  text-decoration: underline;
  transition:  0.3s;
}